{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}


	<h1 class="text-center">Sobre</h1>
    <hr />
    <p>Projeto piloto desenvolvido por <a href="https://github.com/thiagofuruchima">Thiago Morais Furuchima</a> para monitoramento da satisfação
    dos usuários dos serviços públicos, utilizando como proxy o sentimento medido à partir de informações das redes sociais.
	<p>Para isso, técnicas de inteligência artificial são aplicadas sobre postagens dos brasileiros nas redes sociais com
        o objetivo de tentar capturar o sentimento geral dos usuários dos serviços.
	<hr />

{% endblock %}